.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.header, .nav, .main, .sidebar, .advertise, .footer{
    border: 5px solid aquamarine;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: tomato;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav    main    main  sidebar"
    "nav    main    main  advertise"
    "footer footer footer footer"
    ;
}

@media screen and (max-width: 576px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertise"
        "footer"
        ;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .container{
        grid-template-areas: 
        "header header header"
        "nav main main"
        " sidebar main main"
        " advertise footer footer "
       
        ;
    }
}
